
 body  
 {  
     margin: 0;  
     padding: 0;  
     background-color:#4c8096ba;  
     font-family: 'consolas';  
 }



.main{
    width: 100%;
    /* background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg); */
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  
  
  .menu-bar1 {
      
    overflow: hidden;
    /* background-color: rgb(23, 238, 112); */
    background: rgba(35, 4, 59, 0.44);
    text-align: left;
    margin-top:30px;
  } 
  
  .menu-bar1 ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
  }
  
  .menu-bar1 ul li{
    width: 100x;
    margin: 5px;
    padding: 5px;
  }
  
  .menu-bar1 ul li a 
  {
   text-decoration: none;
   color: #fff;
  }
  
  
  .menu-bar1 .fa
  {
    margin-right: 8px;
    /* background-color: rgb(224, 125, 13); */
  }
  
  .sub-menu-2
  {
    display: none;
  }
  
  .menu-bar1 ul li:hover .sub-menu-2
  {
    display: block;
    position: absolute;
    background: rgb(79, 34, 145);
    margin-top: 6px;
    margin-left: -15px;
    /* margin-right: 20px; */
  }
  
   .menu-bar1 ul li:hover .sub-menu-2 ul
  {
    display: block;
    margin: 10px;
  }
  
  .menu-bar u2 li:hover .sub-menu-2 ul li
  {
   width: 150px;
   /* padding: 10px; */
   border-bottom: 1px dotted #fff;
   background: transparent;
   /* border-radius: 0; */
   text-align: left;
  } 
  
  .menu-bar1 ul li:hover .sub-menu-2 ul li:last-child
  {
    border-bottom: none;
  }
  .menu-bar1 ul li:hover .sub-menu-2 ul li a:hover
  {
    color: rgb(236, 14, 44);
  }


  h3 {
    text-align: right;
  }


  footer {
    background: rgb(199, 148, 148);
    position: auto;
    left: 0;
    bottom: 0;
    margin-top: 100%;
    width: 100%;
    height: 100px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #1044b2;
  color: rgb(148, 108, 108);
}




form { 
  margin: 0 auto; 
  width:250px;
  }